body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 20px;
  background-color: #f0f0f0;
}

.text-center {
  text-align: center;
}

.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.column {
  flex: 1;
  margin: 0 10px;
  min-width: 300px;
}

h2 {
  border-bottom: 2px solid #333;
  padding-bottom: 5px;
}

ul {
  padding-left: 20px;
}

@media (max-width: 768px) {
  .container {
      flex-direction: column;
  }
  
  .column {
      margin: 10px 0;
  }
  
  h1, h3 {
      font-size: 90%;
  }
}

.contact-info {
  font-size: 100%;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  text-decoration: none;
}

.bottom-right-wrapper {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.bottom-right-button {
  margin: 20px;
  pointer-events: auto;
}
